@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
body{max-width:475px;width:100%;margin:0 auto;text-align: center;position:relative;}
*{
    margin:0;padding:0;text-decoration: none;list-style: none;
    font-family: 'Noto Sans KR','Montserrat', sans-serif;
}
.ko{font-family: 'Noto Sans KR', sans-serif!important;}
.en{font-family: 'Montserrat', sans-serif!important;}

img{width:100%;}
html {
    scroll-behavior: smooth;
}


.body_wrap{overflow:hidden ;position: relative;z-index: 99;}
header{
    z-index: 999;
    max-width: 475px;
    width:100%;
    position:fixed;
    top:0;left:50%;
    transform: translateX(-50%);
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(20px);
    height:50px;
    transition:.5s;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    &.active{height:100vh;}
    .logo{
        padding-left: 20px;
        width:30px;
    }
    .menu{color:#fff;font-size: 20px;padding-right: 20px;transform: scaleY(.9);font-weight: 500;}
    .nav{
        position: fixed;
        top:50%;
        transform: translateY(-50%);
        width:100%;
        height: 0vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        display: none;
        transition: .5s;
        z-index: -1;
        &.active{opacity: 1;height: 100vh;display: flex;}
        div{font-size: 30px;color:#fff;padding:20px 0;text-transform: uppercase;cursor: pointer;position: relative;}
        div::after{
            content:"";
            position: absolute;
            bottom:20px;left:0;
            width:0%;height: 1px;
            background-color: #fff;
            transition: .5s;
        }
        div:hover::after{
            content:"";
            position: absolute;
            bottom:20px;left:0;
            width:100%;height: 1px;
            background-color: #fff;
        }
    }
}

main{
    position:relative;
    background: rgb(242, 242, 242);
    .swiper {
        width: 100%;
        height: 100vh;
        .number{
            position: absolute;
            bottom:25px;right:20px;
            font-size: 25px;font-weight: 500;color:#fff;
            z-index: 3;
        }
        .title{
            position: absolute;
            bottom: 25px;left:20px;color:#fff;z-index: 3;
            text-align: left;
            p{
                letter-spacing: -3px;
                font-weight: 600;
                font-size: 40px;
            }
            .orange{color: #d30000;}
            span{font-size: 15px;letter-spacing:0.2px;}
        }
    }
   
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        .number{
            position: absolute;
            bottom:25px;right:60px;
            font-size: 25px;font-weight: 500;color:#fff;
        }
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{
        bottom:0!important;
        top:unset;
    }

    .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{background:#fff;}

}

.about{
    padding: 40px 20px;
    text-align: left;
    .title{
        display: flex;justify-content: space-between;align-items: center;
        p{font-size: 35px;font-weight: 500;}
        img{width: 30px;}
    }
    .about_img1{margin-top:20px;overflow: hidden;height: 350px;}
}

.photo{
    padding: 40px 20px;
    text-align: left;background:#e2e2e2;
    .title{
        display: flex;justify-content: space-between;align-items: center;
        p{font-size: 35px;font-weight: 500;}
        img{width: 30px;}
    }
    .about_img1{margin-top:20px;overflow: hidden;height: 350px;}
}

.video{
    padding: 40px 20px;
    text-align: left;background:#a4afc1;
    .title{
        display: flex;justify-content: space-between;align-items: center;
        p{font-size: 35px;font-weight: 500;}
        img{width: 30px;}
    }
    .about_img1{
        margin-top:20px;overflow: hidden;height: 350px;position:relative;
        .play_btn{position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);width:56px;}
    }
}

footer{
    background: rgb(242, 242, 242);
    padding-bottom: 40px;
    ul{
        padding:40px 20px 60px;text-align: left;
        li{
            padding-bottom:20px;
            font-size: 20px;
            span{font-size: 15px;color:#b0b0b0;display: block;}
        }
    }
    .my{
        padding:0px 20px;
        text-align: left;
        .insta{
            cursor: pointer;
            div{
                display: flex;
                align-items: center;
                font-size: 20px;
            }
            span{font-size: 15px;color:#b0b0b0;display: block;}
            img{width:20px;padding-left: 10px;}
            img:nth-child(2){width:20px;padding-left: 10px;transform: translateY(2px);}
        }
        .email{
            padding-top: 20px;
            div{
                display: flex;
                align-items: center;
                font-size: 20px;
                a{color:#000;}
            }
            span{font-size: 15px;color:#b0b0b0;display: block;}
            img{width:20px;padding-left: 10px; transform: translateY(2px);}
        }
        .site{
            padding-top: 20px;
            div{
                display: flex;
                align-items: center;
                font-size: 20px;
                a{color:#000;}
            }
            span{font-size: 15px;color:#b0b0b0;display: block;}
            img{width:20px;padding-left: 10px; transform: translateY(2px);}
        }
    }
}

.top_btn{position: relative; max-width: 475px;margin:0 auto;}
.top_btn a{
    transition:1s;
    z-index:999;
    position:fixed; bottom:70px; right:20px;
    width:30px; height:30px;
    opacity:0;
    background-color: rgba(255,255,255,0.3);
    border-radius: 30px;
    padding: 5px;
    height:50px;
}
.top_btn .aside_arrow{width:15px;}
.top_btn a.active{opacity:1;}

.main_about{
    .main_about_img{height: 350px; overflow: hidden;margin-top: 50px;}
    .wrap{
        padding:20px 20px 100px;
        text-align:left;
        .title{font-size: 40px;padding-bottom: 10px;}
        .detail{padding-bottom: 50px;}
        .team{
            padding-bottom: 10px;
            span{font-size: 12px; color:#8c8c8c;}
        }
        .input{
            border-bottom: 1px solid #000;
            input{
                border-radius: none;
                border:none;
                border-right:0px; 
                border-top:0px; 
                border-left:0px; 
                border-bottom:0px;
                background-color: #f2f2f2;
                height: 30px;
                line-height: 35px;
                font-size: 20px;
                font-weight: 400;
                padding: 5px 0;
                
            }
            input:focus{border:none;background:none;color:#000;outline: none;}
        }
        .support{
            margin-top:10px;position:relative;
            img{width:10px;padding-left: 10px; transform: translateY(2px);}
            &::after{
                content: "";
                width:83px;height: 1px;
                background-color: #000;
                position: absolute;
                left:0;
                bottom:-10px;
            }
        }
    }
}
.main_photo{
    .wrap{
        padding:130px 20px 0;
        position: relative;
        .title{
            background-color: #f2f2f2;
            text-align: left;
            font-size:40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            top: 50px;left:0;
            width: 100%;
            padding-bottom: 5px;
            div{padding-left: 20px;}
            ul{
                display: flex;padding:0 20px;
                li{
                    &:nth-child(2){padding-left: 20px;}
                    font-size: 30px;
                    img{width:20px;}
                }
            }
        }
        .img_box{
            padding-top:40px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .box{
                width:45%;height: 120px;
                border: 1px solid #000;
                margin-bottom: 60px;
                .img{
                    width:100%;height:100%;
                    background-image: url("https://kyohyunkim.github.io/Team-Max/img/10.jpeg");
                    background-size: cover;
                    background-position: center;
                }
                .day{
                    display: flex;align-items:center;
                    span{display: block;}
                    span:nth-of-type(1){font-size: 15px;padding-right: 10px;}
                }
                &.active{
                    width:100%;height: 240px;
                }
            }
        }
    }

    .page{
        padding: 20px 0 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        .number{font-size: 15px; transform: translateY(-1px);padding: 0 10px;}
        .left{width:10px;}
        .right{width:10px;}
    }
    
}